*{
    padding: 0;
    margin: 0;
}
body{
    background-color: grey;
}
.container1{
    display: flex;
    margin: 0 auto;
    height: 50%;
    border: 2px solid black;
    flex-direction: row;
}
.logo{
    display: flex;

}
.logo img{
    width: 20%;
}
.textos{
    display: flex;
    justify-content: flex-end;
}